.breadcrumb {
  position: absolute;
  bottom: 0;
  left: 0;
  background-color: #000;
  background-color: rgba(0, 0, 0, 0.4);
  width: 100%;
}


.breadcrumb__wrapper {
  position: relative;
  display: flex;
  flex-direction: row;
  z-index: 10;
}

.breadcrumb__wrapper ul {
  display: flex;
  list-style: none;
  padding: 0;
}

.breadcrumb__wrapper ul li a {
  position: relative;
  color: #fff;
  text-decoration: none;
  margin-right: 30px;
  transition: color .3s;

  &:hover {
    color: $secondColor;
  }

  &::before {
    position: absolute;
    content: "\f105";
    top: 50%;
    left: calc(100% + 10px);
    color: #fff;
    font: 16px/1 FontAwesome;
    transform: translateY(-50%);
  }
}

.breadcrumb__wrapper ul li {
  color: #999;
  font-size: 14px;
}

.breadcrumb__link-ask {
  display: none;
}


@media (min-width: $tablet) {
  .breadcrumb__link-ask {
    display: flex;
    position: absolute;
    bottom: 0;
    right: 0;
  }
}
