.btn {
  display: inline-block;
  border: none;
  background-color: $secondColor;
  color: #fff;
  cursor: pointer;
  font-family: inherit;
  font-size: 14px;
  font-weight: bold;
  text-decoration: none;
  text-transform: uppercase;
  padding: 15px 30px;
  transition: background-color .3s;
  
  &:hover {
    background-color: darken($secondColor, 20%);
  }
}