.main-footer {
  background-color: $mainColor;
  padding: 30px;
}

.main-footer__copyright {
  margin: 0;
  color: #fff;
  
}

@media (min-width: $laptop) {
  .main-footer .row {
    align-items: center;
  }
}