.main-header {
  position: relative;
  padding-top: 30px;
  padding-bottom: 30px;
}

.main-header .row {
  align-items: center;
}

.main-header__logo {
  text-align: center;
  max-height: 100px;
}

.main-header__second-page img {
  height: 100px;
}

@media (min-width: $desktop) {
  .main-header .main-header__logo {
    max-width: 21%;
  }
}