.service {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  margin-bottom: 35px;
}

.service__item {
  display: flex;
  flex-direction: column;
  cursor: pointer;
  text-decoration: none;
  margin-bottom: 40px;
  width: 100%;

  &:hover {
    .service__img i {
      background-color: $secondColor;
    }

    .service__title {
      color: $secondColor;
    }
  }
}

.service__img {
  position: relative;
  margin-bottom: 35px;
  width: 100%;
  height: 180px;
}

.service__img img {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.service__img i {
  text-align: center;
  align-items: center;
  position: absolute;
  left: 0;
  top: calc(100% - 60px);
  background: $mainColor;
  color: #fff;
  font-size: 24px;
  line-height: 70px;
  width: 70px;
  height: 70px;
  transition: background-color .3s;
}

.service__title {
  color: $mainColor;
  font-size: 20px;
  text-align: center;
  margin-top: 0;
  margin-bottom: 10px;
  transition: color .3s;
}

.service__text {
  color: $mainColor;
  font-size: 14px;
  line-height: 1.6;
  text-align: justify;
  margin: 0;
}

@media (min-width: $tablet) {
  .service__item {
    width: 45%;
  }
}

@media (min-width: $laptop) {
  .service__item {
    width: 30%;
  }
}
