.side-bar .title {
  display: block;
  color: $mainColor;
  font-size: 17px;
  text-transform: uppercase;
  margin-left: 0;
  margin-bottom: 30px;
}


.side-bar ul {
  list-style: none;
  padding: 0;
}

.side-bar ul li:last-child a {
  border-bottom: none;
}

.side-bar ul li a {
  display: block;
  border-left: 1px solid #ddd;
  border-bottom: 1px solid #ddd;
  border-right: 1px solid #ddd;
  color: $mainColor;
  text-decoration: none;
  padding: 8px 15px 8px 30px;
  transition: color .3s;
  
  &:hover {
    color: $secondColor;
  }
}
