.title {
  border-left: 3px solid $secondColor;
  margin-top: 0;
  margin-bottom: 45px;
  margin-left: 10px;
  padding-left: 10px;
}

.title p {
  font-size: 16px;
  font-weight: normal;
  opacity: 0.5;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 5px;
}


.title h2 {
  color: $mainColor;
  font-size: 30px;
  font-weight: bold;
  line-height: 27px;
  text-transform: uppercase;
  margin: 0;
}
